*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Public Sans', sans-serif;
}

.cards-section{
  width: 1440px;
  height: 690px;
  background-color: background #FFFFFF;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


.card{
  width: 335px;
  height: 430px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  position: relative;
}


.card img{
  width: 100%;
  height: 100%;
}

.card img:hover{
  filter: brightness(50%);
}

.infos{
  display: block;
  position: absolute;
  bottom: 46px;
  left: 26px;
}

.name{
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.description{
  font-weight: 300;
  font-size: 17px;
  color: #fff;
  margin-top: 5px;
}


/* 2 FILEIRAS TABLET */
@media screen and (max-width: 1200px){
    
  .cards-section{
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
  }  

}

/* MOBILE */
@media screen and (max-width: 576px){
  
  body{
    width: 375px;
  }

  .cards-section{
    margin: 0 auto;
    align-items: center;
  }
  

  .card{
    display: flex;
    justify-content: center;
    align-items: center;
  }


} 